.pos-center-block{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  width: auto;
  height: auto;

}
body {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}
.my-btn-pos-1 {
position: relative;
float: left;
width: 33%;
margin-top: 50px;
}


.my-btn-pos-2 {
position: relative;
float: right;
width: 33%;
margin-top: 50px;
}
.navbar-success{
  background-color: #28a745;
}
nav h4
{
  color: white;
}

.table{
  margin-top: 5%;
}
.table th{
  width: 33%;
}

.form-group{
  width: 60%; 
  margin-left: 20%; 
  margin-top: 5%;
}
.form-group input{
  margin-top: 10px;
  float: right;
  margin-bottom: 30px;
}
.btn-length{
   width: 60%; 
  margin-left: 20%; 
  margin-top: 5%;
}

.custom-file{

  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.custom-file-input{
    width: 10%;

}

#registration{
margin-top: 30px;
  position: relative;
  float: right;
}
#signIn
{
  display: block;
  width: 20%;
  float: right;
  margin-top: 20px;
}
#signUp
{

  float: left;
  margin-top: 20px;
}
.btnAdd{
  position: relative;
  float: right;
}
.btnDelete{
  position: relative;
  float: left;
}
.success .form-control:focus {
  border-color: #5cb85c;  box-shadow: none; -webkit-box-shadow: none;
} 

.has-error .form-control:focus {
  box-shadow: none; -webkit-box-shadow: none;
}

.settingArea{
  margin-top: 5px; 
  margin-left: 80%; 
  margin-right: 10px;
}